@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

:root {
  font-size: 4rem;
  font-family: 'Black Han Sans', sans-serif;
  color: #969cb7;
  letter-spacing: 0.025em;
  line-height: 1.4;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222533;
}

sup, sub {
  padding: 0.1em;
  font-weight: bold;
  vertical-align: baseline;
  position: relative;
  top: -0.6em;
  color: #666C87;
}

sub {
  top: 0.4em;
}

.sleep__letters {
  margin: 0 0.1em;
}

@keyframes snoore {
  from { top:0; opacity: 0.5; }
}

.sleep__letters > * {
  animation: snoore 1s ease-in-out alternate infinite;
}

.sleep__letters > *:nth-child(1) {
  font-size: 0.75em;
  animation-delay: 0s;
}

.sleep__letters > *:nth-child(2) {
  font-size: 0.85em;
  animation-delay: 0.5s;
}

.sleep__letters > *:nth-child(3) {
  font-size: 0.95em;
  animation-delay: 2s;
}
